<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mysupermarket">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.ForgottenPasswordActivity"/>
        <activity android:name=".activity.TermsOfUseActivity"/>
        <activity android:name=".activity.MessageActivity"/>
        <activity android:name=".activity.HomeActivity"/>
        <activity android:name=".activity.NavigationActivity"/>
        <activity android:name=".activity.ProductActivity"/>
        <activity android:name=".activity.CartActivity"/>
        <activity android:name=".activity.RegistrationActivity"/>
        <activity android:name=".activity.ConfirmingAddressActivity"/>
        <activity android:name=".activity.FinalCartActivity"/>
        <activity android:name=".activity.NavigationActivityExp"/>
        <activity android:name=".activity.ProfileActivity"/>
        <activity android:name=".activity.SettingsActivity"/>
        <activity android:name=".activity.IntroActivity"/>
        <activity android:name=".activity.StatisticsActivity"/>
        <activity android:name=".activity.SearchActivity"/>
        <activity android:name=".activity.FavouriteProductsActivity"/>
    </application>

</manifest>